@font-face { font-family: Roboto-Black; src: url('Roboto-Black.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Thin; src: url('Roboto-Thin.ttf'); }

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Black, Arial, sans-serif;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}

.container {
    width: 400px;
    margin: 30px;
    opacity: 1;
    animation-duration: 2.4s;
    animation-name: addOpacity;
}
@keyframes addOpacity {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.radio-wrapper {
    margin-bottom: 30px;
}

.radio-label {
    display: inline-block;
    width: calc(50% - 10px);
    height: 40px;
    margin: 4px;
    font-family: Roboto-Thin;
    cursor: pointer;
    color: #999999;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 #424242;
}

.radio-label.selected {
    box-shadow: inset 0 2px 3px 0 #000000;
    color: #000000;
}

.radio-label:first-child {
    border-radius: 20px 5px 5px 20px;
}

.radio-label:last-child {
    border-radius: 5px 20px 20px 5px;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.radio-label span {
    display: block;
    position: relative;
    top: -7px;
    text-align: center;
}

.key-wrapper {
    margin-bottom: 30px;
}

.key-label {
    font-family: Roboto-Thin;
    cursor: pointer;
}

.key-label span {
    display: block;
    position: relative;
    top: -5px;
    text-align: center;
}

#key {
    text-align: right;
    font-family: Roboto-Regular;
    padding: 0 10px 0 10px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 1px 2px #000000;
    height: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: calc(100% - 100px);
    background-color: #e0e0e0;
    box-shadow: inset 0 2px 3px 0 #000000;
}

#keyCopy {
    width: 80px;
    height: 30px;
    margin-top: 0;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
}

#msg {
    padding: 10px;
    font-family: Roboto-Regular;
    font-size: 24px;
    text-shadow: 3px 2px 9px #000000;
    border: none;
    border-radius: 10px 10px 0 0;
    width: calc(100% - 20px);
    min-height: 180px;
    background-color: #e0e0e0;
    box-shadow: inset 0 2px 3px 0 #000000;
    resize: vertical;
}

#msgCopy {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: -4px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
}

#key:focus,
#msg:focus,
button:focus {
    outline: none;
}

button {
    position: relative;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 2px 2px #000000;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 #424242;
    cursor: pointer;
    transition: color .3s, top .3s, box-shadow .3s;
}

button:hover {
    color: #cccccc;
    top: -3px;
    box-shadow: 0 7px 15px 0 #424242;
}

button:active {
    color: #424242;
    top: 3px;
    box-shadow: 0 1px 4px 0 #424242;
}

#btnGenerate {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    line-height: 50px;
    font-size: 26px;
    border-radius: 15px;
}

i {
    color: #ff0000;
}